name: flutter_labolatory

environment:
  sdk: ^3.10.4

workspace:
  - apps/color_contrast
  - apps/dynamic_color_app
  - apps/dynamic_color_variant
  - apps/fcm_example
  - apps/linked_scroll
  - apps/max_height_bottom_sheet
  - apps/onboard_animation
  - apps/themed_app_icon
  - apps/go_router_pop_scope
  - apps/go_open_container
  - packages/core

dev_dependencies:
  custom_lint: ^0.7.6
  flutter_lints: null
  grinder: ^0.9.5
  melos: ^7.3.0
  nilts: ^0.23.1
  path: ^1.9.0
  pedantic_mono: ^1.29.0
  yaml: ^3.1.2
  yaml_edit: ^2.2.1

melos:
  sdkPath: .fvm/flutter_sdk

  ide: null
  intellij:
    # Disabling IntelliJ's automatic configuration.
    # This is to support different build configurations for environments.
    enabled: false

  command:
    bootstrap:
      environment:
        sdk: ^3.10.4
        flutter: ^3.38.5
      dependencies:
        collection: any
        flutter_hooks: ^0.20.5
        hooks_riverpod: ^2.6.1
        riverpod_annotation: ^2.6.1
      dev_dependencies:
        build_runner: ^2.4.13
        custom_lint: ^0.7.6
        nilts: ^0.23.1
        pedantic_mono: ^1.29.0
        riverpod_generator: ^2.6.1
        riverpod_lint: ^2.6.1
        test: any
    clean:
      hooks:
        post: melos exec --flutter --concurrency=3 -- "flutter clean" melos exec
          --flutter --file-exists="ios/Podfile.lock" -- "cd ios && rm
          Podfile.lock" melos exec --flutter --file-exists="macos/Podfile.lock"
          -- "cd macos && rm Podfile.lock"

  scripts:
    # ビルド関連
    build:app:
      description: 各プラットフォーム毎にモバイルアプリをビルドする
      stpes:
        - build:app:android
        - build:app:ios
    build:app:ios:
      description: Android向けにモバイルアプリをビルドする
      run: melos exec --scope="flutter_app" -- flutter build ipa
        --export-options-plist=ExportOptions.plist
        --dart-define-from-file=dart_defines/prod.json
    build:app:android:
      description: iOS向けにモバイルアプリをビルドする
      run: melos exec --scope="flutter_app" -- flutter build
        appbundle --dart-define-from-file=dart_defines/prod.json

    # コード生成関連
    gen:
      description: build_runner, slangの生成コマンドを実行する
      steps:
        - gen:build
        - gen:slang

    gen:build:
      description: build_runner を使用してコードを生成する
      run: dart run build_runner build -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner
    gen:build:watch:
      description: build_runner watch を使用して、変更箇所を検知しつつコードを生成する。
      run: dart run build_runner watch -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner

    gen:slang:
      description: slang を使用してコードを生成する
      run: dart run slang
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: slang
    gen:slang:watch:
      description: slang watch を使用して、変更箇所を検知しつつコードを生成する。
      run: dart run slang watch
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: slang

    gen:diff:main:
      description: main ブランチと差分のあるパッケージのみ build_runner と i18n の生成コマンドを実行します。
      steps:
        - gen:build:diff:main
        - gen:i18n:diff:main
    gen:build:diff:main:
      description: main ブランチと差分のあるパッケージのみ build_runner を使用してコードを生成します。
      run: dart run build_runner build -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner
        diff: origin/main...HEAD
    gen:slang:diff:main:
      description: main ブランチと差分のあるパッケージのみ slang を使用して国際化ファイルを生成します。
      run: dart run slang
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: slang
        diff: origin/main...HEAD

    # dart fix関連
    fix:
      exec: dart fix --apply lib
      description: Run dart fix.
      packageFilters:
        dirExists: lib
    fix:check:
      exec: dart fix --dry-run lib
      description: Check dart fix.
      packageFilters:
        dirExists: lib
    fix:custom:
      description: すべてのパッケージに custom_lint の fix を実行します。
      exec: dart run custom_lint --fix
      packageFilters:
        dirExists: lib
        dependsOn: custom_lint

    # テスト関連
    test:golden:
      run: flutter test --tags=golden
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: alchemist
        dirExists:
          - test
    test:golden:update:
      run: flutter test --update-goldens
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: alchemist
        dirExists:
          - test
    test:ci:
      run: flutter test --dart-define=CI=true
      exec:
        failFast: true
      packageFilters:
        dirExists:
          - test
